body {
    margin: 0px;
}

h1 {
    font-size: 60px;
    text-align: center;
}

p {
    font-size: 20px;
    text-align: center;
    margin: 0px 90px;
}

div.table {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

div.img img {
    width: 100%;
    border-radius: 20px;
}

div.text {
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 50px;
    border-radius: 10px;
    padding: 35px 10px;
    gap: 20px;
    width: 80%;
    height: 100px;
    margin: 0px auto;
    filter: drop-shadow(0px 8px 6px rgba(0, 0, 0, 0.152));
}

div.foodname {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

a {
    font-size: 20px;
    text-decoration: none;
}

@media screen and (max-width: 1100px) {
    div.foodname {
        font-size: 18px;
    }
}

@media screen and (max-width: 800px) {
    h1 {
        font-size: 40px;
    }

    p {
        font-size: 15px;
        max-width: 90%;
    }

    div.table {
        flex-direction: column;
        align-items: center;
    }

    div.img img {
        display: flex;
        width: 80%;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    div.text {
        width: 60%;
        font-size: 15px;
    }

    div.foodname {
        font-size: 20px;
    }

}