div.container {
    background-color: white;
    width: 250px;
    height: auto;
    border-radius: 15px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
}

div.img img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    display: flex;
}

div.title {
    font-size: 20px;
}

div.detail {
    font-size: 15px;
    color: gray;
}

div.icon {
    gap: 20px;
}

div.people {
    display: flex;
}

div.profile img {
    width: 50px;
    height: auto;
    border-radius: 50%;
}