/* === rootvariables === */
:root {
    /* Desktop size */
    --desktop-h1-font-size: 50px;
    --desktop-h1-line-height: 1.16;

    --desktop-h2-font-size: 36px;
    --desktop-h2-line-height: 1.8;

    --desktop-h3-font-size: 32px;
    --desktop-h3-line-height: 1.16;

    --desktop-h4-font-size: 29px;
    --desktop-h4-line-height: 1.16;

    --desktop-h5-font-size: 24px;
    --desktop-h5-line-height: 1.16;

    --desktop-h6-font-size: 22px;
    --desktop-h6-line-height: 1.8;

    /* Tablet size */
    --tablet-h1-font-size: 50px;
    --tablet-h1-line-height: 1.16;

    --tablet-h2-font-size: 36px;
    --tablet-h2-line-height: 1.8;

    --tablet-h3-font-size: 32px;
    --tablet-h3-line-height: 1.16;

    --tablet-h4-font-size: 29px;
    --tablet-h4-line-height: 1.16;

    --tablet-h5-font-size: 24px;
    --tablet-h5-line-height: 1.16;

    --tablet-h6-font-size: 22px;
    --tablet-h6-line-height: 1.8;

    /* Mobile size */
    --mobile-h1-font-size: 38px;
    --mobile-h1-line-height: 1.16;

    --mobile-h2-font-size: 32px;
    --mobile-h2-line-height: 1.16;

    --mobile-h3-font-size: 29px;
    --mobile-h3-line-height: 1.16;

    --mobile-h4-font-size: 28px;
    --mobile-h4-line-height: 1.8;

    --mobile-h5-font-size: 24px;
    --mobile-h5-line-height: 1.16;

    --mobile-h6-font-size: 12px;
    --mobile-h6-line-height: 1.8;

    --font-heading: "Domine", serif;
    --font-body: "Inter", sans-serif;

    /*Body size*/

    --body1-font-size: 18px;
    --body1-line-height: 1.5;

    --body2-font-size: 17px;
    --body2-line-height: 1.5;

    --body3-font-size: 16px;
    --body3-line-height: 1.8;

    --body4-font-size: 15px;
    --body4-line-height: 1.8;

    --body5-font-size: 14px;
    --body5-line-height: 1.16;

    --body6-font-size: 13px;
    --body6-line-height: 1.16;

    --box-radius: 50px;

    --btn-bg: #bc4b20;
    --btn-bg-black: black;
    --btn-bg-hover: #903A18;
    --color-text-dark: #00000;
    --color-text-light: #FFFFFF;
    --font-heading: "Domine", serif;
    --font-body: "Inter", sans-serif;
}

/* === GLOBAL TYPOGRAPHY ===*/
body {
    font-family: var(--font-body);
    color: var(--color-text-dark);
    line-height: 1.8;
    background-color: #FFFFFF;
    font-weight: 400;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    gap: 10px;
    border-bottom: 1px solid #D9D9D9;

}

.logotext {
    display: flex;
    align-items: center;
    font-family: var(--font-heading);
    font-size: 25px;
    color: #bc4b20
}

.search {
    display: flex;
    gap: 10px;
    background-color: #D9D9D9;
    align-items: center;
    width: 190px;
    height: 50px;
    padding: 5px;
    font-size: var(--body1-font-size);
}

.navigationmenu {
    text-decoration: none;
    display: flex;
    font-size: var(--body3-font-size);
    line-height: var(--body3-line-height);
    gap: 40px;
    justify-content: center;
    border-radius: 6px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-heading);
}

.btn {
    background-color: #bc4b20;
    ;
    border-radius: 50px;
    padding: 13px 29px;
    width: 10%;
    text-align: center;
    color: white;
    font-size: var(--body5-font-size);
    margin: 10px;
}

.btnbtn-black {
    font-size: var(--body5-font-siz);
    text-align: center;
    background-color: black;
    color: white;
    padding: 13px 29px;
    width: 10%;
    border-radius: 50px;
    margin: 10px;
}

.btnbtn-outline {
    text-align: center;
    border: 1px solid black;
    background-color: white;
    width: 10%;
    padding: 13px 29px;
    border-radius: 50px;
    margin: 10px;
    font-size: var(--body5-font-size);
}

.btnbtn-full-width {
    background-color: #bc4b20;
    width: 60%;
    text-align: center;
    padding: 13px 29px;
    border-radius: 50px;
    color: white;
    font-size: var(--body5-font-size);
}