div.content {
    display: flex;
    margin-top: 50px;
    align-items: center;
    justify-content: space-between;
}

div.title {
    width: 50%
}

h1 {
    max-width: 550px;
    font-size: 60px;
    line-height: 1.5;
}

p {
    max-width: 450px;
    font-size: 20px;
    line-height: 1.5;
}

.speaker {
    width: 50%
}

.speakerphone {
    display: none
}

button.booking {
    background-color: black;
    color: white;
    border-radius: 14px;
    margin-top: 20px;
    padding: 20px 35px;
    font-size: 20px;
}

div.speaker {
    margin-top: 30px;

}

div.brands {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin-top: 50px;
}

.service {
    display: flex;
    align-items: center;
    gap: 30px;

}

.subtititle h3 {
    background-color: hsla(87, 100%, 70%, 1);
    font-size: 40px;
}

.subtext p {
    font-size: 18px;
    max-width: 50%
}

div.learn {
    display: flex;
    gap: 10px;
}

p.learnmore {
    display: block;
    font-size: 15px;
    margin-bottom: 0;
}

.cardrow {
    display: flex;
    gap: 10px;
    margin-top: 50px;

}

.card {
    display: flex;
    margin-top: 40px;
    border: 1px solid black;
    border-radius: 35px;
    padding: 30px;
    width: 50%;
    justify-content: space-between;
}

.proposal {
    background-color: hsla(0, 0%, 95%, 1);
    border-radius: 15px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    padding: 25px 35px;
    justify-content: space-between;
}

.lets {
    font-size: 30px;
}

.info {
    width: 70%
}

.contactus {
    font-size: 16px;
    max-width: 45%;
}

.face {
    width: 20%;
    align-items: center;
    justify-content: center;

}

button.freeproposal {
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 15px;
    border: none;
}

.hamburgermenu {
    display: none;
}

.tablecase {
    background-color: hsla(234, 17%, 12%, 1);
    color: white;
    display: flex;
    padding: 50px;
    border-radius: 15px;
    gap: 10px;
}

.tablecase p {
    font-size: 18px;
    box-sizing: border-box;
    border-right: 1px solid white;
    margin: 10px;
}

.learnmorecase {
    display: flex;
    gap: 10px;
}

.casestudylearn {
    font-size: 20px;
    width: 45%
}

.greenarrow {
    width: 45%;
}

.casestudy {
    display: flex;
    align-items: center;
    gap: 30px;
}

.working {
    display: flex;
    align-items: center;
    gap: 30px;
}

.cardprocess {
    filter: drop-shadow(0px 4px 0px black);
}

.processdetail {
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px 20px;
    width: 100%;
    margin: 20px 0;
    background-color: hsla(87, 100%, 70%, 1);
}

.consultation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.processheader {
    display: flex;
    align-items: center;
}

.number {
    font-weight: bold;
    margin-right: 10px;
    font-size: 35px;
}

.numbertitle {
    text-align: left;
    font-size: 20px;
}

.text p {
    margin-top: 10px;
    font-size: 15px;

}

.process {
    display: flex;
    border: 1px solid black;
    border-radius: 20px;
    padding: 30px 25px;
    justify-content: space-between;
    margin: 20px 0;
    background-color: hsla(0, 0%, 95%, 1);
}

.team {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

.teammembers {
    display: flex;
    gap: 30px;
    margin-top: 50px;
}

.profilehead {
    display: flex;
    gap: 10px;
    border: 1px solid black;
    border-radius: 25px;
    flex-direction: column;
    padding: 25px;
}

.profile {
    display: flex;
    width: 40%;
    justify-content: space-between;
    align-items: center;
}

.detail p {
    border-top: 1px solid black;
    font-size: 15px;
}

.seeall {
    display: flex;
    background-color: hsla(234, 17%, 12%, 1);
    color: white;
    margin: 20px;
    padding: 5px 6px;
    border-radius: 15px;
    width: 20%;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}