div.content {
    display: flex;
    margin-top: 50px;
    align-items: center;
    justify-content: space-between;
}

div.title {
    width: 50%
}

h1 {
    max-width: 550px;
    font-size: 60px;
    line-height: 1.5;
}

p {
    max-width: 450px;
    font-size: 20px;
    line-height: 1.5;
}

.speaker {
    width: 50%
}

.speakerphone {
    display: none
}

button.booking {
    background-color: black;
    color: white;
    border-radius: 14px;
    margin-top: 20px;
    padding: 20px 35px;
    font-size: 20px;
}

div.speaker {
    margin-top: 30px;

}

div.brands {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin-top: 50px;
}

.service {
    display: flex;
    align-items: center;
    gap: 30px;
}

.subtititle {
    background-color: hsla(87, 100%, 70%, 1);
    font-size: 40px;
}

p.subtext {
    font-size: 18px;
    max-width: 50%
}

div.learn {
    display: flex;
    gap: 10px;
}

p.learnmore {
    display: block;
    font-size: 15px;
    margin-bottom: 0;
}

.cardrow {
    display: flex;
    gap: 10px;
    margin-top: 50px;
}

.card {
    display: flex;
    margin-top: 40px;
    border: 1px solid black;
    border-radius: 35px;
    padding: 30px;
    width: 50%;
    justify-content: space-between;
}

.proposal {
    background-color: hsla(0, 0%, 95%, 1);
    border-radius: 15px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    padding: 25px 35px;
    justify-content: space-between;
}

.lets {
    font-size: 30px;
}

.info {
    width: 70%
}

.contactus {
    font-size: 16px;
    max-width: 45%;
}

.face {
    width: 20%;
    align-items: center;
    justify-content: center;

}

button.freeproposal {
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 15px;
    border: none;
}

.hamburgermenu {
    display: none;
}