  @import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

  body {
      font-family: "Space Grotesk", sans-serif;
      background-color: rgba(252, 252, 252);
      margin: 90px;
  }

  div {
      font-size: 20px;
  }

  div.header {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  div.logo {
      display: flex;
      gap: 10px;
      font-size: 40px;
      font-weight: bold;
  }

  div.navigationbar {
      display: flex;
      font-size: 20px;
      align-items: center;
      gap: 40px;
  }

  div.request {
      border: 1px solid black;
      padding: 20px 30px;
      border-radius: 14px;
      gap: 10px;
  }

  div.footer {
      background-color: hsla(234, 17%, 12%, 1);
      color: white;
      padding: 40px 60px;
      border-radius: 20px;
      margin-top: 30px;
  }

  .footerhead {
      display: flex;
      justify-content: space-between;
      gap: 10px;
      align-items: center;
  }

  .footerlogo {
      font-size: 24px;
  }

  .footernavigation {
      display: flex;
      gap: 30px;
      font-size: 14px;
      font-weight: lighter;
      text-decoration: underline;
  }

  .sociallink {
      display: flex;
      gap: 15px;
  }

  .contactus {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .contactinfo {
      width: 45%;
  }

  .contacttitle {
      background-color: hsla(87, 100%, 70%, 1);
      color: black;
      font-size: 20px;
      margin-top: 10px;
      font-weight: bold;
      border-radius: 10px;
      text-align: center;
      width: 30%;
      margin-bottom: 10px;
  }

  .contactus p {
      font-size: 14px;
  }

  .subscribe {
      display: flex;
      background-color: hsla(233, 10%, 18%, 1);
      border-radius: 14px;
      margin-top: 10px;
      padding: 60px 20px;
      gap: 10%;
      width: 45%;
      align-items: center;
      justify-content: space-around;
  }

  .enter {
      border: 1px solid black;
      border-radius: 10px;
      padding: 20px 140px;
      font-size: 14px;
  }

  .news {
      background-color: hsla(87, 100%, 70%, 1);
      color: black;
      text-align: center;
      font-size: 14px;
      padding: 20px 100px;
      border-radius: 10px;
  }

  .footermiddle {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      gap: 10px;
      padding: 10px;
  }

  .info {
      font-size: 15px;
      padding: 10px;
  }

  .disclaimer {
      display: flex;
      gap: 20px;
      border-top: 1px solid white;
      font-size: 15px;
      margin-top: 10px;
  }

  .reserved {
      font-size: 15px;
      margin-top: 10px;
  }

  .privacy {
      margin-left: 20px;
      text-decoration: underline;
      font-size: 15px;
      margin-top: 10px;
  }