div.content {
    display: flex;
    margin-top: 50px;
    align-items: center;
    justify-content: space-between;
}

div.title {
    width: 50%
}

h1 {
    max-width: 550px;
    font-size: 60px;
    line-height: 1.5;
}

p {
    max-width: 450px;
    font-size: 20px;
    line-height: 1.5;
}

.speaker {
    width: 50%
}

.speakerphone {
    display: none
}

button.booking {
    background-color: black;
    color: white;
    border-radius: 14px;
    margin-top: 20px;
    padding: 20px 35px;
    font-size: 20px;
}

div.speaker {
    margin-top: 30px;

}

div.brands {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin-top: 50px;
}

.service {
    display: flex;
    align-items: center;
    gap: 30px;

}

.subtititle {
    background-color: hsla(87, 100%, 70%, 1);
    font-size: 40px;
}

.subtext p {
    font-size: 18px;
    max-width: 50%
}

div.learn {
    display: flex;
    gap: 10px;
}

p.learnmore {
    display: block;
    font-size: 15px;
    margin-bottom: 0;
}

.h3 {
    font-size: 25px;
}

.cardrow {
    display: flex;
    gap: 10px;
    margin-top: 50px;

}

.cardgreen {
    display: flex;
    margin-top: 40px;
    border: 1px solid black;
    border-radius: 35px;
    padding: 30px;
    width: 45%;
    justify-content: space-between;
    background-color: hsla(87, 100%, 70%, 1);
    box-shadow: 0px 4px;
}

.whitetext {
    background-color: white;
    color: black;
    border-radius: 10px;
    font-size: 30px;
    justify-content: space-between;
    padding: 5px 6px;
    line-height: 1.3;
}

.cardwhite {
    display: flex;
    margin-top: 40px;
    border: 1px solid black;
    border-radius: 35px;
    padding: 30px;
    width: 45%;
    justify-content: space-between;
    background-color: hsla(0, 0%, 100%, 1);
    box-shadow: 0px 4px;

}

.greentext {
    display: flex;
    background-color: hsla(87, 100%, 70%, 1);
    padding: 5px 6px;
    border-radius: 10px;
    color: black;
    font-size: 30px;
    justify-content: space-between;
    line-height: 1.3;

}

.cardblack {
    display: flex;
    margin-top: 40px;
    border: 1px solid black;
    border-radius: 35px;
    padding: 30px;
    width: 45%;
    justify-content: space-between;
    background-color: hsla(0, 0%, 0%, 1);
    color: white;
    box-shadow: 0px 4px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


.proposal {
    background-color: hsla(0, 0%, 95%, 1);
    border-radius: 15px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    padding: 25px 35px;
    justify-content: space-between;
}

.lets {
    font-size: 30px;
}

.info {
    width: 70%
}

.contactus {
    font-size: 16px;
    max-width: 45%;
}

.face {
    width: 20%;
    align-items: center;
    justify-content: center;

}

button.freeproposal {
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 15px;
    border: none;
}

.hamburgermenu {
    display: none;
}


/*mobile*/
@media screen and (max-width: 1275px) {
    body {
        margin: 20px;
    }


    div.navigationbar {
        display: none;
    }

    .hamburgermenu {
        display: block;
    }

    .cardrow {
        flex-direction: column;
    }

    .face {
        display: none;
    }

    .brands {
        width: calc(33.33%-13.33px);
        display: flex;
    }
}

@media screen and (max-width: 850px) {
    .speaker {
        display: none;
    }

    .speakerphone {
        display: block;
    }
}